{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Yirans Calendar</title>
    <script src='{% static 'fullcalendar/dist/index.global.js' %}'></script>
</head>
<body>
<a href="/"><h1>Yirans Calendar</h1></a>
<nav>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="/login/">login</a></li>
            <li><a href="/register/">register</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>