{% extends 'booking/base.html' %}
{% load static %}

{% block content %}

    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
        function getCsrfToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                selectable: true,
                selectHelper: true,
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next present',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay listViewMonth,listViewWeek,listViewDay'
                },
                customButtons: {
                    present: {
                        text: 'present',
                        click: function () {
                            calendar.today();
                        }
                    },
                    listViewMonth: {
                        text: 'list month',
                        click: function () {
                            calendar.changeView('listMonth');
                        }
                    },
                    listViewWeek: {
                        text: 'list week',
                        click: function () {
                            calendar.changeView('listWeek');
                        }
                    },
                    listViewDay: {
                        text: 'list day',
                        click: function () {
                            calendar.changeView('listDay');
                        }
                    },
                },
                events: '/api/bookings/',
                dateClick: function (info) {
                    {# click on a day will change to day view #}
                    if ('{{ user.is_authenticated }}' === 'True') {
                        calendar.changeView('timeGridDay', info.dateStr);
                    } else {
                        alert('Please login to book a time.');
                    }
                },
                eventClick: function (eventClickInfo) {
                    {# delete event #}
                    if (confirm("Do you want to delete booking " + eventClickInfo.event.title + "?")) {
                        $.ajax({
                            url: 'api/delete/',
                            type: 'POST',
                            data: JSON.stringify({id: eventClickInfo.event.id}),
                            contentType: 'application/json',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRFToken', getCsrfToken());
                            },
                                success: function (response) {
                                    alert(response.message);
                                    location.reload();
                                }
                            });
                    }
                    }
                ,
                    select: function (selectionInfo) {
                        {# ban all day selections #}
                        if (!selectionInfo.allDay) {
                            {# user input booking title #}
                            var title = prompt("enter event name：", "");
                            {# generate unique booking id #}
                            var booking_id = 'booking_' + new Date().getTime();
                            if (title !== null && title !== "") {
                                $.ajax({
                                    url: '/api/book/',
                                    type: 'POST',
                                    data: JSON.stringify({
                                        start: selectionInfo.startStr,
                                        end: selectionInfo.endStr,
                                        title: title,
                                        booking_id: booking_id,
                                    }),
                                    contentType: 'application/json',
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRFToken', getCsrfToken());
                                    },
                                    success: function (response) {
                                        alert(response.message);
                                        location.reload();
                                    },
                                    error: function (xhr) {
                                        console.error("Error:", xhr.responseText);
                                    }
                                });
                            } else {
                                alert("please enter a valid event name.");
                            }

                        }
                    }
                });
            calendar.render();
            console.log(calendar.getEvents().first())
        })
            ;
    </script>
    <div id="calendar"></div>
{% endblock %}